*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  background: gray;
}

.app-wrapper {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 8px;
  }

  .page-main-navbar {
    width: 100%;
  }

  .img-navbar-profile {
    width: 40px;
    height: 40px;
  }

  table {
    font-size: 12px;
  }

  button {
    font-size: 12px;
    padding: 4px 8px;
  }
}

.search-input,
.page-input-open-btn {
  width: 100%;
}

.app-name {
  font-size: xx-large;
  text-align: center;
}

#page-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

#page-cover.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  padding: 16px;
}

.page-main-navbar {
  width: 100%;
  /* max-width: 900px; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 12px;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  /* flex-shrink: 0; */
  min-width: 0;
}

.navbar-user {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: clamp(18px, 4vw, 36px);
}

.user-name {
  color: red;
}

.exit-lbl {
  background: rgb(201, 201, 201);
  margin: 0;
  font-weight: 900;
  padding: 5px;
  border-radius: 4px;
  flex-shrink: 0;
}

.exit-lbl:hover {
  cursor: pointer;
  background: black;
  color: white;
  border: 2px solid grey;
  padding: 3px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;

  flex-shrink: 0;
}

/* HELP BUTTON ICON */
.help-btn {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  color: steelblue;
}

.help-btn:hover {
  color: royalblue;
}

.help-btn::after {
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
}

/* APPLICATION QUICK GUIDE OTHER THAN SELF EXPLANATORY */
.help-btn:hover::after {
  content: "Quick Guide:\A\A" "• Click Guest to set your name (one time only)\A"
    "• Hover sortable column headers for A–Z or Z–A sorting\A"
    "• Click task title or status to toggle ACTIVE / DONE\A"
    "• Use search to locate tasks instantly\A\A"
    "Simple, intuitive, and efficient task management.";

  white-space: pre-line;
  position: absolute;
  top: 130%;
  right: 0;
  width: 280px;
  padding: 14px;
  border-radius: 8px;
  background: black;
  color: white;
  font-size: 13px;
  line-height: 1.5;
  z-index: 2000;
  opacity: 1;
}

.img-icon {
  width: 100px;
  height: 100px;
}

.img-navbar-profile {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.form {
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.form label {
  font-weight: 600;
  padding-top: 30px;
}

.page-input-content-title,
.text-input-title,
.task-detail,
.date-input,
.page-input-date-input {
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
  box-sizing: border-box;
  height: 50px;
}

.task-detail {
  height: 70px;
  padding-top: 10px;
}

.row {
  display: flex;
  align-items: stretch;
  gap: 5px;
}

.toolbar {
  width: 100%;
  /* max-width: 1100px; */

  display: inline-flex;
  gap: 10px;

  align-items: center;
  /* margin: 12px auto; */
}

.search-input {
  flex: 1;

  height: 50px;

  border: 1px solid grey;
  border-radius: 6px;

  padding: 0 px;

  font-size: 14px;
}

.page-input-date-input,
.page-input-date {
  flex: 3;
  width: 225px;
  height: 50px;
}

.profile-btn {
  color: blue;
  cursor: pointer;
}

.profile-btn:hover {
  text-decoration: underline;
}

/* Buttons */
.start-btn {
  background: orange;
  border: none;
  border-radius: 6px;
  padding: 20px;
  font-weight: 800;
  cursor: pointer;
}

.start-btn:hover {
  background: rgb(255, 247, 0);
  cursor: pointer;
  border: 2px solid orange;
  padding: 18px;
}

.row button,
.page-input-open-btn {
  flex: 0 0 90px;
  height: 50px;
  background: orange;
  border: none;
  border-radius: 6px;
  font-weight: 800;
  cursor: pointer;
  gap: 10px;
  margin: 0px;
  /* margin-bottom: 0px; */
}

.page-input-open-btn:hover {
  background: rgb(255, 132, 0);
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.page-input-cancel-btn {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  background: lightgray;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px;
  font-weight: 800;
}

.page-input-cancel-btn:hover {
  background: red;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.delete-btn {
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
  font-weight: 800;
}

.delete-btn:hover {
  background: red;
  border: 1px solid red;
  color: white;
  font-weight: 800;
}

.update-btn,
.edit-btn {
  font-weight: 800;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid grey;
}

.update-btn:hover,
.edit-btn:hover {
  background: orange;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid orange;
}

/* TODO LIST CONTENT INSIDE FRAME FOR END USER VERTICAL SCROLL */
.table-container {
  width: 100%;
  /* max-width: 900px; */
  /* margin: 16px auto; */
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
}

thead th {
  height: 50px;
  position: sticky;
  text-align: center;
  top: 0;
  background: rgb(255, 242, 177);
  cursor: pointer;
}

thead th[data-tooltip] {
  position: sticky;
  overflow: visible;
}

thead th[data-tooltip]:hover::after {
  content: attr(data-tooltip);

  position: absolute;
  top: 25px;
  left: 50%;

  transform: translateX(-50%);

  background: black;
  color: white;

  font-size: 12px;

  padding: 6px 10px;
  border-radius: 4px;

  white-space: nowrap;

  z-index: 9999;
}

table {
  width: max-content;
  border-collapse: collapse;
  /* table-layout: fixed; */
  min-width: 100%;
  /* margin: 0 auto; */
}

th,
td {
  /* word-break: break-word; */
  /* overflow-wrap: break-word;*/
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

tbody tr {
  border-bottom: 10px solid transparent;
}

tbody tr td {
  padding: 8px;
}

td {
  white-space: normal;
  padding: 8px;
  text-align: left;
  word-break: break-word;
}

tbody tr:nth-child(1n) {
  border-bottom: 2px solid #ddd;
}

th:nth-child(1),
td:nth-child(1) {
  width: 70px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 150px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 220px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 120px;
}

th:nth-child(5),
td:nth-child(5) {
  width: 75px;
}

th:nth-child(6),
td:nth-child(6) {
  width: 120px;
}

.row-overdue {
  color: red;
}

.row-completed {
  color: grey;
  text-decoration: line-through;
}

/* .row-table {
  display: flex;
} */

.page-input {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1005;
}

.page-input-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.page-input-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* .hidden {
  display: none;
} */

.page-input.hidden {
  display: none;
}

.page-input {
  z-index: 900;
}

.footer {
  position: fixed;

  bottom: 20px;
  left: 50%;

  transform: translateX(-50%);
  z-index: 2000;
  /* display: flex; */
  /* justify-content: center; */
  /* margin-top: 30px; */
  text-align: center;
  white-space: nowrap;
}
